body{
    font-family: 'Roboto';
}
.loginContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.welcomeContainer,.formContainer{
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomeGreet{
    font-weight: bold;
}
.btnLogin{
    background-color: #0dba4b;
    color: #ffffff;
}
.btnSignup{
    background-color: #0dba4b;
    color: #ffffff;
}
.loginAccount,.messageAccount{
    color: #707070;
}
.signUpText{
    color: #0dba4b;
    font-weight: bold;
}
.signUpContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.signupHeading,.messageAccount,.updateText{
    align-self: flex-start;
}
.registrationContainer{
    width: 50vw;
}
.registrationContainer{
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.updateContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.profileContainer{
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatarIcon{
    border-radius: 50%;
    width: 200px;
}
.keys{
    color: #707070;
}
.goback{
    color: #0dba4b;
    text-decoration: none;
    font-weight: bold;
}
.mainPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.techContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}
.card{
    margin: 10px;
}
.lanImg{
    height: 30vh;
}
.updateClick{
    background-color: #0dba4b;
    padding: 8px;
    border-radius: 10px;
}
.updateText{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight:500;
}
@media screen and (max-width: 575px) {
    .registrationContainer,.welcomeContainer{
        display: none;
    }
    .formContainer{
        width: auto;
    }
}